# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/


mq/testdata/config.json

neo/test.json
neo/neo.json
neo/testdb

cmd/neo/neo.json
cmd/neo/neo
cmd/neo/testdb
.DS_Store